@page "{id:int?}"
@model MusicManager.Web.Pages.Artists.IndexModel
@{
    ViewData["Title"] = "Artists";
}

<h1 class="mb-5">
    Artists
    <a href="#"
       hx-get="@Url.Page("./Index", "EditModal")"
       hx-trigger="click"
       hx-target="#itemModalContainer"
       class="btn btn-outline-primary mb-2">
        <i class="bi-plus-circle" role="img" aria-label="Add Artist"></i>
        Add Artist
    </a>
</h1>

<div class="row mb-3">
    <div class="col-md-9 offset-md-3">
        @await Html.PartialAsync("_GridSearchForm", Model.Artists.PagingData)
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th hx-boost="true">
                <sort-link page="./Index"
                           route-params="@Model.Artists.PagingData.Parameters"
                           route-sortOrder="@Model.NameSort"
                           display-name="@Html.DisplayNameFor(model => model.Artists[0].Name)" />
            </th>
            <th hx-boost="true">
                <sort-link page="./Index"
                           route-params="@Model.Artists.PagingData.Parameters"
                           route-sortOrder="@Model.AlbumCountSort"
                           display-name="@Html.DisplayNameFor(model => model.Artists[0].AlbumCount)" />
            </th>
            <th hx-boost="true">
                <sort-link page="./Index"
                           route-params="@Model.Artists.PagingData.Parameters"
                           route-sortOrder="@Model.CreatedSort"
                           display-name="@Html.DisplayNameFor(model => model.Artists[0].Created)" />
            </th>
            <th hx-boost="true">
                <sort-link page="./Index"
                           route-params="@Model.Artists.PagingData.Parameters"
                           route-sortOrder="@Model.UpdatedSort"
                           display-name="@Html.DisplayNameFor(model => model.Artists[0].Updated)" />
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a hx-boost="true" asp-page="/Albums/Index" asp-route-artistId="@item.Id">
                        @Html.DisplayFor(modelItem => item.AlbumCount)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td class="text-right">
                    <a href="#"
                       hx-get="@Url.Page("./Index", "EditModal", values: new { id = item.Id })"
                       hx-trigger="click"
                       hx-target="#itemModalContainer"
                       class="btn btn-outline-primary mb-1 mb-md-0"><i class="bi-pencil" role="img" aria-label="Edit"></i></a>
                    <a href="#"
                       hx-get="@Url.Page("./Index", "DetailsModal", values: new { id = item.Id })"
                       hx-trigger="click"
                       hx-target="#itemModalContainer"
                       class="btn btn-outline-primary mb-1 mb-md-0"><i class="bi-info-circle" role="img" aria-label="Details"></i></a>
                    <a href="#"
                       onclick="AppLib.confirmDelete(@item.Id, '@item.Name')"
                       class="btn btn-outline-primary"><i class="bi-trash" role="img" aria-label="Delete"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pager", Model.Artists.PagingData)

<div id="itemModalContainer"></div>

@await Html.PartialAsync("_ConfirmDeleteModal")