@model MusicManager.Domain.Dtos.Album.AlbumEditDto

<div class="mb-3">
    <label asp-for="@Model.ArtistId" class="control-label"></label>
    <select asp-for="@Model.ArtistId" asp-items="@ViewData["ArtistList"] as List<SelectListItem>" class="form-select" autofocus></select>
    <span asp-validation-for="@Model.ArtistId" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="ReleaseYear" class="control-label"></label>
    <input asp-for="ReleaseYear" class="form-control" />
    <span asp-validation-for="ReleaseYear" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="GenreIds" class="control-label"></label>
    <select asp-for="GenreIds" asp-items="@ViewData["GenreList"] as List<SelectListItem>" class="form-select"></select>
    <span asp-validation-for="GenreIds" class="text-danger"></span>
</div>