@model (MusicManager.Domain.Dtos.Album.AlbumEditDto album, List<SelectListItem> artistList, List<SelectListItem> genreList)
@{
    var isCreate = Model.album == null || Model.album.Id == 0;
    var hxMethod = isCreate ? "hx-post" : "hx-put";
    var submissionUrl = isCreate ?
                            Url.Page("./Index")
                            : Url.Page("./Index", values: new { id = Model.album.Id });
    var modalTitle = isCreate ? "Create Album" : "Update Album";
}

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <!form @(hxMethod)="@(submissionUrl)"
                hx-trigger="submit[AppLib.isFormValid(submitter)]"
                hx-disabled-elt="find fieldset"
                hx-target="#itemModalContainer">
            <fieldset>
                <div class="modal-header">
                    <h5 class="modal-title">@modalTitle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label asp-for="@Model.album.ArtistId" class="control-label"></label>
                        <select asp-for="@Model.album.ArtistId" asp-items="@Model.artistList" class="form-select" autofocus></select>
                        <span asp-validation-for="@Model.album.ArtistId" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="album.Title" asp="" class="control-label"></label>
                        <input asp-for="album.Title" class="form-control" />
                        <span asp-validation-for="album.Title" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="album.ReleaseYear" class="control-label"></label>
                        <input asp-for="album.ReleaseYear" class="form-control" />
                        <span asp-validation-for="album.ReleaseYear" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="album.GenreIds" class="control-label"></label>
                        <select asp-for="album.GenreIds" asp-items="@Model.genreList" class="form-select"></select>
                        <span asp-validation-for="album.GenreIds" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
                    @Html.AntiForgeryToken()
                </div>
            </fieldset>
        </!form>
    </div>
</div>